# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.sqlite3
instance/

# PyCharm
.idea/

# VSCode (dacă folosești)
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Flask specific
*.db
.env*
*.bak
*.swp
*.swo

# Cache
*.egg-info/
dist/
build/
.cache/
